{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["@typescript-eslint/eslint-plugin", "prettier", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion":2020,
    "sourceType": "module",
    "project": "tsconfig.json"
  },
  "env": {
    "es6": true,
    "node": true
  },
  "ignorePatterns": [".eslintrc"],
  "rules": {
    "@typescript-eslint/no-explicit-any": 2,
    "semi": "error",
    "no-undef": "error",
    "eqeqeq": "warn",
    "no-useless-return": "error",
    "no-duplicate-imports": "error",
    "prefer-const": "error"
  }
}